@import url('https://fonts.googleapis.com/css2?family=Puppies+Play&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');
body{
    color:white;
    background-color: black;
  font-family: "Zain", sans-serif;
  

header{

    border-bottom: solid red 3px;
    padding-left: 1px;
    font-size: 28px;
    text-align: center;
    color: red;
}

h1{
    font-size: 34;
    text-align: center;
}

p{
    border: 2px solid blue;
    background-color: red;
    margin: 10px;
}
