<style>
@import url('https://fonts.googleapis.com/css2?family=Puppies+Play&display=swap');
</style>

body{
    color:white;
    background-color: black;
    font-family: "Puppies Play", cursive;}

