@import url('https://fonts.googleapis.com/css2?family=Puppies+Play&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap');
body{
    color:white;
    background-color: black;
    font-family: "Rouge Script", cursive;
  

header{

    border-bottom: solid red 3px;
    padding-left: 1px;
    font-size: 28px;
    text-align: center;
    color: red;
}

h1{
    font-size: 34;
    text-align: center;
}
